#rules-body ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

#rules-body li,
h6 {
  text-align: left;
}
.active {
  background-color: #28a745;
  color: white;
}
.game-grid {
  display: grid;
  width: fit-content;
  margin: 0 auto;
  border: 2px solid #ddd;
}

.game-grid img {
  width: 100px;
  height: 100px;
}
